<%- include('partials/header.ejs') %>
<h1>Compose</h1>

<form action="" action="/compose" method="post">
    <div class="form-group">
       
        <label>Title</label>
        <input class="form-control" name="titleBody" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" row="8" column="30" ></textarea><br>
  </div>
    <button class="btn btn-primary" name="submit" name="button">Publish</button>
</form>

<%- include('partials/footer.ejs') %>